# Flutter

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE

.idea/
.vscode/
*.iml

# OS

.DS_Store

# Android

android/.gradle/
android/app/build/

# iOS

ios/Pods/
ios/.symlinks/

# Desktop

linux/flutter/ephemeral/
macos/Pods/
windows/flutter/ephemeral/

# Web

build/web/

# Env files

.env
*.env

# Firebase 

firebase.json

# Misc

*.log
*.swp

!pubspec.lock
